
{{- $baseName         := include "konnectivity.name" . -}}
{{- $selectorLabels   := include "konnectivity.selectorLabels" . -}}
{{- $commonLabels     := include "konnectivity.labels" . -}}
{{- $currentNamespace := .Release.Namespace -}}

{{- with .Values.applications.konnectivityServer.Deployment }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ $baseName }}-server"

  labels:
    {{- $commonLabels | nindent 4 }}
  {{- with .metadata.labels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- with .metadata.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}

spec:
  replicas: {{ .replicas }}

  {{- with .strategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  selector:
    matchLabels:
      {{- $selectorLabels | nindent 6 }}

  template:
    metadata:
      labels:
        {{- $commonLabels | nindent 8 }}
      {{- with .metadata.labels }}
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with .metadata.annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

    spec:
  
      {{- with .tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              podAffinityTerm:
                topologyKey: {{ .affinity.topologyKey}}
                labelSelector:
                  matchLabels:
                    {{- $selectorLabels | nindent 20 }}

      automountServiceAccountToken: {{ .automountServiceAccountToken }}

      {{- with .containers.konnectivityServer }}
      containers:
        - name: {{ $baseName }}-server
          image: {{ .image }}
          imagePullPolicy: {{ .imagePullPolicy }}

          {{- with .resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}

          {{- with .ports }}
          ports:
            {{- toYaml . | nindent 12 }}
          {{- end }}

          {{- with .envs }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          
          {{- with .entryPoint.command }}
          command:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          args:
            - --server-ca-cert=/pki/{{ $baseName }}-server/ca.crt
            - --server-cert=/pki/{{ $baseName }}-server/tls.crt
            - --server-key=/pki/{{ $baseName }}-server/tls.key
            - --agent-service-account={{ $baseName }}-agent
            - --kubeconfig=/etc/kubernetes/admin.conf
            - --authentication-audience=system:{{ $baseName }}-server
          {{- range .ports  }}
            {{- if eq .name "server" }}
            - --server-port={{- .containerPort }}
            {{- end }}
            {{- if eq .name "agent" }}
            - --agent-port={{- .containerPort }}
            {{- end }}
            {{- if eq .name "admin" }}
            - --admin-port={{- .containerPort }}
            {{- end }}
            {{- if eq .name "health" }}
            - --health-port={{- .containerPort }}
            {{- end }}
          {{- end }}
          {{- with .entryPoint.args }}
            {{- toYaml . | nindent 12 }}
          {{- end }}

          {{- with .livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}

          volumeMounts:
            - mountPath: /pki/{{ $baseName }}-server
              name: pki-{{ $baseName }}server
            - mountPath: /pki/kubeconfig
              name: pki-{{ $baseName }}-client
          {{- with .volumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}

      {{- end }}

      volumes:
        - secret:
            secretName: "pki-{{ $baseName }}-server"
          name: pki-{{ $baseName }}server
        - secret:
            secretName: "pki-{{ $baseName }}-client"
          name: pki-{{ $baseName }}-client
        {{- with .volumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}

{{- end}}