
{{- $baseName                 := include "kube-apiserver.name" . -}}
{{- $selectorLabels           := include "kube-apiserver.selectorLabels" . -}}
{{- $commonLabels             := include "kube-apiserver.labels" . -}}
{{- $currentNamespace         := .Release.Namespace -}}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: apiserver-config
data:
  egress-selector-configuration.yaml: |
    apiVersion: apiserver.k8s.io/v1beta1
    kind: EgressSelectorConfiguration
    egressSelections:
    {{- with $.Values.applications.konnectivityServer }}
      {{- if .enable }}
          {{- if eq (default "http-connect" .mode)  "GRPC" }}
    - name: cluster
      connection:
        proxyProtocol: GRPC
        transport:
          uds:
            udsName: /etc/kubernetes/konnectivity-server/konnectivity-server.socket
          {{- end }}
          {{- if eq (default "http-connect" .mode)  "http-connect" }}
    - name: cluster
      connection:
        proxyProtocol: HTTPConnect
        transport:
          tcp:
            url: "https://konnectivity-server-svc:8131"
            TLSConfig:
              caBundle: /pki/konnectivity-client/ca.crt
              clientKey: /pki/konnectivity-client/tls.key
              clientCert: /pki/konnectivity-client/tls.crt
          {{- end }}
        {{- end }}
      {{- end }}

    - name: master
      connection:
        proxyProtocol: Direct
    - name: etcd
      connection:
        proxyProtocol: Direct

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: basic-auth
data:
  basic_auth.csv: |
    @dm1nP@ss,admin,admin